<p>Player Cards:</p>
<ul>
  <% session[:player_hand].each do |card| %>
    <li><%= card %></li>
  <%end%>
</ul>

<p>Dealer Cards:</p>
<ul>
  <% session[:dealer_hand].each do |card| %>
    <li><%= card %></li>
  <%end%>
</ul>

<% if @show_buttons %>
  <form method="post">
    <button name="hit" value="hit" formaction="/game/player/hit">Hit</button>
    <button name="stay" value="stay" formaction="/game/player/stay">Stay</button>
  </form>
<% end %>





