<h1 class="welcome animated fadeInDown">Welcome to Nikia's</h1> 
<h1 class="welcome bottom animated fadeInDown">Blackjack Emporium!</h1>

<p class="welcome animated fadeInLeft">Please enter your name</p>

<form action="/" method="post" class="form-inline name">
<input type="text" name="player_name">
<button type="submit">Start Game</button>
</form>

<div class="illustration animated fadeInUp"></div>