<h1 class="welcome">Welcome to Nikia's Blackjack Emporium!</h1>

<p class="welcome">Please enter your name</p>

<form class="form-inline name">
<input type="text" name="player_name">
<button>Start Game</button>
</form>

<img src="http://d13yacurqjgara.cloudfront.net/users/42865/screenshots/792030/queenofhearts.png" class="illustration">