h1,h2,h3,h4 {
  font-weight: normal;
}

body {
  background: #2ECC71;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar-fixed-top {
  display: none;
}

/*
--- FORM PAGE
*/

.welcome {
  text-align: center;
}

h1.welcome {
  text-transform: uppercase;
  font-size: 88px;
  font-weight: 200;
  line-height: 91%;
}

p.welcome {
  font-size: 42px;
  font-weight: 300;
  text-transform: capitalize;
  padding: 46px 0 16px 0;
}

form.name {
  text-align: center;
}

form.name input {
  border: 0;
  box-shadow: none;
  padding: 14px 18px;
  font-size: 25px;
  width: 352px;
  font-family: 'Source Sans Pro', sans-serif;
}

form.name button {
  color: #fff;
  background: #C0491B;
  font-family: 'Source Sans Pro', sans-serif;
  border: 0;
  font-weight: 300;
  font-size: 28px;
  padding: 14px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.problem p.welcome {
  color: #C0491B;
}

.problem input {
  background: #FFD8D8;
}

.illustration {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 243px;
  background: url('http://d13yacurqjgara.cloudfront.net/users/42865/screenshots/792030/queenofhearts.png') no-repeat top center;
}

.author-credit {
  position: absolute;
  bottom: 2%;
  right: 2%;
  display: block;
  color: #fff;
  letter-spacing: 1px;
  font: 17px 'Pacifico', cursive;
}

.author-credit p {
  line-height: 88%;
}

.author-credit:hover {
  text-decoration: none;
  color: #fff;
}

/* 
--- BET PAGE
*/


.bet h2, .bet p, .bet input {
  font-weight: 200;
}

.bet h2 {
  font-size: 55px;
  padding-top: 65px;
}

.bet p {
  font-size: 30px;
  padding: 14px 0 9px;
}

.bet h2, .bet p {
  text-align: center;
}

.bet form {
  width: 316px;
  margin: 0 auto;
}

.bet button, .bet input {
  display: block;
}

.bet input {
  border: 0;
  box-shadow: none;
  padding: 4px 8px;
  font-size: 27px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-align: center;
  width: 300px;
  height: 36px;
}

.bet ::-webkit-input-placeholder {
  font-size: 20px;
  padding-top: 4px;
}

.bet :-moz-placeholder {
  font-size: 20px;
  padding-top: 4px;
}

.bet ::-moz-placeholder {
  font-size: 20px;
  padding-top: 4px;
}

.bet :-ms-input-placeholder {
  font-size: 20px;
  padding-top: 4px;
}

.bet button {
  background: #3084BD;
  color: #fff;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  border: 0;
  font-weight: 300;
  font-size: 28px;
  height: 62px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.bet button:hover, .bet button:active {
  background: #fff;
  color: #3084BD;
}

.bet span {
  color: #3084BD;
  font-weight: 400;
}


/*
--- GAME PAGE
*/

.card {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.card {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

/*.player-container, .dealer-container {
  overflow: auto;
}*/

.dealer-container .card {
  width: 100px;
}

.player-container .card {
  width: 134px;
}

.message h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  font-weight: 200;
  line-height: 96%;
  padding: 10px 0;
}

.score-container {
  margin: -50px auto 0;
  width: 239px;
}

.score-container > p {
  font-size: 21px;
  font-weight: 300;
  text-align: center;
}

/*.score {
  overflow: auto;
}*/

.score div {
  float: left;
  width: 50%;
  padding-top: 26px;
  position: relative;
}

.score .dealer {
  text-align: right;
}

.score .icon {
  width: 32px;
  height: auto;
  position: absolute;
}

.player .icon {
  background: url(../images/clubs.svg) no-repeat;
  background-size: 23px auto;
  top: 3%;
  left: 28%;
}

.dealer .icon {
  background: url(../images/bowtie.svg) no-repeat;
  left: 46%;
  top: 0;
}

.score p {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
}

.score span {
  padding-left: 20px;
  font-size: 26px;
  color: #C24728;
}

.dealer-container .initial:first-of-type {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.dealer-container .initial + .initial,
.dealer-container .delay + .delay {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.player-container .initial + .initial {
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  animation-delay: .8s;
}

.flip-container, .card-wrapper {
  float: left;
  margin-right: 4px;
}

.flip-container {
  -webkit-perspective: 1000;
  perspective: 1000;
}

.flip-container.turn-over .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.dealer-container .flip-container, .dealer-container .flipper, .dealer-container .front, .dealer-container .back {
  width: 100px;
  height: 139px;
}

.player-container .flip-container, .player-container .flipper, .player-container .front, .player-container .back {
  width: 134px;
  height: 187px;
}

.flipper {
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.back {
  z-index: 2;
}

.total, .button-container p {
  font-size: 22px;
  text-transform: uppercase;
  color: #186D3C;
  text-align: center;
}

.total {
  font-weight: 700;
  padding: 30px 0;
}

.player-choice {
  width: 144px;
  margin: 0 auto;
}

.button-container button {
  float: left;
  position: relative;
  padding: 10px 0;
  width: 68px;
  border: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color:  #fff;
  text-decoration: none;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  outline: 0;
}

.button-container .hit {
  background: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
  margin-right: 8px;
}

.button-container .stay {
  background: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
}

.button-container button:active {
  -webkit-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
}

.start {
  left: 12px;
}

.new {
  right: 12px;
}

.new, .start {
  top: 5px;
  position: absolute;
  background: #3498DB;
  padding: 9px 44px;
  color: #fff;
  display: block;
  font-weight: 900;
  float: left;
  text-transform: uppercase;
  margin-right: 27px;
  border-radius: 2px;
  text-decoration: none;
}

.new:hover, .start:hover {
  text-decoration: none;
}

.money {
  position: absolute;
  right: 58px;
  top: 24%;
}

.money h3 {
  text-transform: uppercase;
  color: #186D3C;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 26px 0 6px 12px;
  line-height: 105%;
}

.money h3 span {
  display: block;
}

.money p {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #F0DA3A;
  height: 90px;
  width: 90px;
  text-align: center;
  margin: 0 auto;
  color: #AC6E12;
  font-size: 24px;
  line-height: 90px;
}
